.quantity {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}

.count {
  display: flex;
  background-color: rgb(184, 183, 183);
  border: 1px solid gray;
  border-radius: 10px;
  width: 25px;
  justify-content: center;
}

.plus {
  cursor: pointer;
  font-size: 23px;
  background-color: transparent;
}

.minus {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
}

.disabled {
  cursor: default;
  color: gray;
}