@import '../../../assets/styles/variables.scss';

:host {
  background-color: $opacity-blue;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  display: flex;
  justify-content: center;

  .shopping-cart {
    width: 735px;
    height: 620px;
    background-color: white;
    border: 2px solid rgb(6, 6, 61);
    border-radius: 10px;
    top: 32px;
    position: absolute;
  }
}