<div class="header">
  <div class="header__menu-logo">
    <div class="header__menu" (click)="openMenu()">
        <img class="header__menu-img" [src]="menu" alt="menu" />
      @if(statusMenu) {
      <app-menu></app-menu>
      }
    </div>
  
    <div class="header__logo">
      <img [src]="logo" alt="logo" class="header__logo-img" routerLink="main" (click)="smoothScroll()"/>
    </div>
  </div>

  <app-header-search class="header__search"> </app-header-search>

  @if(authService.isLoggedIn$ | async) {
    <div class="header__favorite-product" routerLink="cabinet/wishlist">
      <img [src]="favorite" class="favorite" />
    </div>
    <div class="header__order-list">
      <img [src]="orderList" class="order-list" routerLink="cabinet/orders"/>
    </div>
  } @else {
    <app-header-account></app-header-account>
  }
  <app-header-language></app-header-language>

  <app-header-shopping-cart></app-header-shopping-cart>

</div>