@if(!token){
  <img [src]="logo" class="logo">
  <div class="registr">
    <p class="title">Create account</p>
    <div class="line"></div>
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
      <div class="name">
        <input  type="text" formControlName="firstName" placeholder="First Name" class="registr__input-name">
        <input  type="text" formControlName="lastName" placeholder="Last Name" class="registr__input-name">
      </div>
    
      <input type="text" formControlName="email" placeholder="Email" class="registr__input">
    
      <input  type="password" formControlName="password" placeholder="Password" class="registr__input">
      <input  type="password" placeholder="Confirm password" class="registr__input" [disabled]="verifyPassword">
  
      <button type="submit" class="button">Registration</button>
      <p class="under-title" (click)="redirectToLogin()">Do you already have an account?</p>
    </form>
  </div>
}


