@import '../../../assets/styles/variables.scss';

:host{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .registr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 440px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    margin-bottom: 100px;

    &__input {
      height: 50px;
      width: 310px;
      border-radius: 5px;
      border: 1px solid #cbc6c6;
      padding-left: 15px
    }

    &__input:focus {
      outline: none;
      border: 1px solid #cbc6c6;
    }

    &__input-name {
      height: 50px;
      width: 150px;
      border-radius: 5px;
      border: 1px solid #cbc6c6;
      padding-left: 15px
    }

    &__input-name:focus {
      outline: none;
      border: 1px solid #cbc6c6;
    }
  }

  .error {
    font-size: 13px;
    color: #c60000;
  }

  .name {
    display: flex;
    justify-content: space-between;
  }

  .firstName {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lastName {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: space-around
  }

  .button {
    border-radius: 5px;
    background-color: $main-color;
    color: white;
    width: 310px;
    height: 50px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .button:hover {
    background-color: rgb(19, 19, 108);
  }

  .line {
    width: 310px;
    height: 1px;
    background-color: #cbc6c6;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
  }

  .under-title {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 14px;
    color: $main-color;
    cursor: pointer;
    font-weight: 600;
  }

  .under-title:hover {
    color:rgb(25, 25, 161)
  }

  .title {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Open Sans';
  }

  .logo {
    height: 95px;
    width: 210px;
  }

  .invalid {
    outline: none;
    border: 1px solid #c60000;
  }
}