@import '../../../../../../assets/styles/variables.scss';

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
.cart {
  height: 20px;
  width: 20px;
}

.cart-button {
  background-color: $main-color;
  border-radius: 5px;
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.cart-button:hover {
  background-color: rgb(28, 28, 239);
}

.selected {
  // pointer-events: none;
  background-color: rgb(169, 168, 168);
}
.selected:hover {
  background-color: rgb(202, 128, 128);
}

.sales {
  &__discount {
    padding-right: 5px;
  }

  &__price {
    text-decoration: line-through;
  }
}